#header {
	text-align:center;
	color:blue;
	background-color:#DC143C;
	text-decoration:underline;
	font-size:12px;
	margin:0px 5px 3px 5px;
	padding:2px;
}
#main img {
	position:relative;
	display:block;
	margin-left:auto;
    margin-right: auto;
    margin-bottom:2px;
    margin-top: -2px;
	z-index: -1;
}

#att img {
	position:absolute;
	margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 0px;
    top: 80px;
	float:left;
}
li {
list-style-type:none;
}
h2  {
	position:absolute;
	top: 400px; 
    left: 600px;
    font-size:25px;	
    
}
h3 {
	position:absolute;
	top: 450px; 
    left: 760px;
font-size:35px;
font-style: italic;
color: blue;
text-decoration:underline;
background-color:hotpink;}
    
	
li a{
font-size :28px;
background-color:blue;
color:white;
border:1px solid black;}

li{
position:absolute;
top:550px;
left:810px;
}
p{
position:absolute;
top:600px;
left:550px;
font-size:20px;

}